<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>textFieldsChallangeApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87D261BA1CA222A600375432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D261CE1CA222A600375432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D261D91CA222A700375432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
